// Custom
$purple: #4B2E84;
$grey: #252525;
$gold: #b6a47a;

$family-opensans: 'Open Sans', sans-serif;
$family-encode: 'Encode Sans Condensed', sans-serif;

// Bulma Overrides
$family-primary: $family-opensans;
$primary: $purple !default;
