header#ischool-header {
    $height: 50px;
    .org {
        background-color: #252525;
        color: $white;
        #w-logo {
            position: relative;
            display: block;
            float: left;
            height: $height;
            min-width: 43px;
            background-color: $purple;
            a {
                height: $height;
                color: $white;
                i {
                    float: left;
                }
                i:before {
                    font-size: 35px; // Fixed size because it's an icon
                    line-height: $height;
                }
                .hr {
                    border-width: 0 0 $height 15px;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 2px;
                    border-style: solid;
                    border-color: transparent transparent #252525 transparent;
                }
            }
            a:hover {
                color: $gold;
            }
        }
        .ischool {
            float: left;
            margin: 0 0 0 10px;
            a {
                height: $height;
                color: $white;
                i:before {
                    font-size: 28px; // Fixed size because it's an icon
                    line-height: $height;
                }
            }
            a:hover {
                color: $gold;
            }
        }
    }
    .title {
        float: left;
        font-weight: 700;
        padding: 10px;
        margin: 0;
        a {
            color: $purple;
        }
    }
    .auth {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        a {
            border: none;
            line-height: $height;
            color: $white;
            font-size: 1em;
            padding: 0 10px;
        }
        a:hover {
            background: $purple;
        }
        @media screen and (min-width: 450px) {
            a {
                min-width: 75px;
                font-size: 1.2em;
                padding: 0 15px;
            }
        }
    }
    @media screen and (min-width: $tablet)  {
        $height: 50px;
        background-color: #252525;
        color: $white;
        height: $height;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .org {
            flex-grow: 0;
            #w-logo {
                height: $height;
                a {
                    height: $height;
                    i:before {
                        font-size: 40px;
                        line-height: $height;
                    }
                    .hr {
                        border-width: 0 0 $height 19px;
                    }
                }
            }
            .ischool {
                a {
                    height: $height;
                    i:before {
                        font-size: 28px;
                        line-height: $height;
                    }
                }
            }
        }
        .title {
            float: none;
            height: $height;
            flex: 1 1 auto;
            justify-content: center;
            color: $white;
            text-align: center;
            line-height: $height;
            padding: 0;
            a {
                color: $white;
            }
        }
        .auth {
            position: relative;
            margin-top: 0;
            float: none;
            flex: 0;
            display: flex;
            flex-direction: row;
            a {
                line-height: $height;
            }
            a:hover {
                background: $purple;
            }
        }
    }
    @media screen and (min-width: $desktop)  {
        $height: 70px;
        height: $height;
        .org {
            #w-logo {
                height: $height;
                a {
                    height: $height;
                    i:before {
                        font-size: 46px;
                        line-height: $height;
                    }
                    .hr {
                        border-width: 0 0 $height 21px;
                    }
                }
            }
            .ischool {
                a {
                    height: $height;
                    i:before {
                        font-size: 40px;
                        line-height: $height;
                    }
                }
            }
        }
        .title {
            height: $height;
            line-height: $height;
        }
        .auth {
            a {
                line-height: $height;
            }
        }
    }
}

#notifications{
    margin-bottom: 1em;
}

form{
    fieldset{
        border: none;
        margin-bottom: 0.75rem;
    }
    .subform{
        .field:last-child{
            margin-bottom: 0.75rem;
        }
    }
    .textarea.display_only,
    .display_only,
    .display_only:hover{
        padding: .65em;
        border: none;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-radius: 3px;
        box-shadow: none;
        height: auto;
        max-height: none;
    }
    .field h2.label{
        font-size: 1rem;
        font-weight: 700;
    }
}

form.display_only{
    button{
        display: none;
    }
}

// Auth
form.oauth-providers {

    button.is-outlined .icon {
        left: 10px;
        position: absolute;
        transition: left .25s;
    }

    button.is-outlined {
        background-color: transparent;
        color: #fff;
        .darken {
            z-index: 1;
            position: absolute;
            height: 100%;
            width: 100%;
        }
        &:hover, &:focus {
            .darken {
                background-color: rgba(0,0,0,.3);
            }
            span.icon {
                left: 15px;
            }
        }
        span {
            z-index: 5;
        }
        &.is-github:hover .darken, &.is-github:focus .darken {
            background-color: #000;
        }
    }
}

// Login page
#login .forgot-link {
    margin-top: 1em;
}

.slide-away-enter-active {
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  }
.slide-away-leave-active {
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}
.slide-away-enter{
    transform: translateX(-100%);
    opacity: 0;
}

.slide-away-leave-to{
    transform: translateX(100%);
    opacity: 0;
}

.hide-overflow {
    overflow: hidden !important;
}

.form-transform {
    padding: 1.1428em 0;
}

// Profile page
#profile {
    .providers {
        @media screen and (min-width: $tablet) {
            max-width: 500px;
        }
        .box {
            padding: .75rem;
        }
        .email{
            display: block;
        }
    }
    &.columns {
        .column {
            padding: 0 2rem;
        }
        .column:first-child {
            padding-left: 0;
        }
        .column:last-child {
            padding-right: 0;
        }
        @media screen and (max-width: $tablet) {
            .column {
                padding: 0;
                padding-top: 2rem;
            }
            .column:first-child{
                padding-top: 0;
            }
        }
    }
}

#section-student-formsubmission{
    .people-data{
        margin: 2em 0;
    }
}

.alert-banner{
    text-align: center;
    font-size: 1.2em;
    background: $yellow;
    padding: 10px;
    line-height: 27px;
    span{
        margin-right: 10px;
        font-size: 27px;
    }
}


ul.actions {
    margin: 0 0 1em 0;
    li {
        margin: 0;
        list-style: none;
        a {
            text-decoration: none;
        }
    }
}

.sr-only  {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    text-transform: none;
}

.hide{
    display: none;
}

/* Clear Fix */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear :both;
  height: 0;
}
* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }
.no-padding { padding :0 !important; }

ul.pagination-list{
    margin: 0;
    li{
        list-style: none;
        margin: 0;
    }
}


// VueJS component styles

.fade-enter-active, .fade-leave-active{
    transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}

/** Mentor Pool View Window */
.checkbox-tabs{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 1em 0 2em 0;
    .tab-item{
        cursor: pointer;
        background-color: $light;
        border-color: $grey-light;
        border-style: solid;
        border-width: 1px;
        transition: background-color .1s linear;
        >span{
            display: inline-block;
            transition: opacity .1s linear, transform .1s linear;
            transform: translate(-2px, 3px);
            font-weight: bold;
            opacity: .3;
        }
        input[type=checkbox]{
            visibility: hidden;
        }
        &.active{
            background: $white;
            >span{
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
    }
}

.flex-filter-form, .flex-mentees-mentors{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    >div{
        width: 50%;
        box-sizing: border-box;
        &:nth-child(even){
            padding-left: 1em;
        }
        &:nth-child(odd){
            padding-right: 1em;
        }
    }
}

.flex-filter-form {
    overflow: hidden;
    transition: height .2s cubic-bezier(.17,.67,.51,.98);
}

hr.filters {
    margin-bottom: .5em;
}

button.filters{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    margin: 0 auto 2em auto;
    i {
        color: $link;
        transform: scale(1, -1);
        padding-left: .3em;
        padding-top: .4em;
        pointer-events: none;
    }
}

button.filters.open{
    i{
        transform: scale(1, 1);
    }
}

@media screen and (max-width: 715px){
    .flex-filter-form, .flex-mentees-mentors{
        flex-flow: column nowrap;
        >div{
            width: 100%;
            box-sizing: border-box;
            &:nth-child(even){
                padding-left: 0em;
            }
            &:nth-child(odd){
                padding-right: 0em;
            }
        }
    }
}

