<template>
    <div id="app">
        <div class="heading">
            <h1>Works</h1>
        </div>
        <div class="columns is-multiline">
            <pieceList
                v-for="piece in pieces.data"
                v-bind:key="piece.id"
                v-bind:types="format_types"
                v-bind="piece"
            ></pieceList>
            <newWork @create="create" v-bind:types="format_types">{{format_types}}</newWork>
        </div>
    </div>
</template>

<script>
    import PieceList from './components/PieceList.vue';
    import NewWork from './components/NewWork.vue';
    import { ref, watch, onMounted } from 'vue'
    import { useRouter, useRoute } from 'vue-router'
    export default {
        name: 'App',
        components: {
            PieceList,
            NewWork
        },
        setup()
        {
            const router = useRouter();
            const route = useRoute();
            let format_types = ['eBook','Dead tree','Switch','PS4','PC','PS Vita','3DS','Legacy']
            const pieces = ref([]);
            const getAllMedia = async () => {
                try {
                    pieces.value = await window.axios.get('/api/pieces')
                }
                catch( err ){
                    console.log(err)
                }

            }
            onMounted(getAllMedia);
            return {
                pieces,
                format_types,
                getAllMedia
            }
        },
        data() {
            return {

            }
        },
        methods: {
            async create(title, length, format) {
                const entry = await window.axios.get('/api/pieces/create/', {
                    params: {
                        title:title, length:length, format:format
                    }
                });
                this.pieces.data.push(entry.data);
            },
            async update(id, title, length, format) {
                const entry = await window.axios.put('/api/pieces/'+id, {
                    params: {
                        title:title, length:length, format:format
                    }
                });
                let index = this.pieces.data.findIndex(piece => piece.id === id);
                this.pieces.data.splice(index, 1, entry.data);
            },
            async del(id) {
                await window.axios.delete('/api/pieces/'+id);
                let index = this.pieces.data.findIndex(piece => piece.id === id);
                this.pieces.data.splice(index, 1);
            },
        },
    }
</script>
