<template>
    <div class="column is-one-quarter">
        <div class="card">
            <div class="card-title">
                New Work
            </div>
            <div class="card-content">
                <form>
                    Title: <input v-model="title" type="text" />
                    Format: <select v-model="format">
                        <option v-for="format_type in types" :key="format_type" :value="format_type" >
                            {{format_type}}
                        </option>
                    </select>
                    <div class="form-field">
                        Length: <input v-model="length" type="text" />
                    </div>
                    <div class="submit-button">
                        <button @click.prevent="submitForm">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['id', 'length', 'title','format','types'],
    methods: {
        submitForm() {
            this.$emit('create', this.title, this.length, this.format);
        }
    },
    data() {
        return {
        }
    }
}
// <button @click="create">Add</button>
//


/*

*/
</script>
