<template>
<div class="column is-one-quarter">

    <div class="card">
        <div class="card-title">
            <router-link to="/piece/.id">{{ title }}</router-link>
        </div>
        <div class="card-content">
            <div class="form-field">
                Length: {{ length }}
            </div>
            <div class="form-field">
                Format: {{ format }}
            </div>
            <div>
                Pubdate: {{ pubdate }}
            </div>
        </div>

    </div>
</div>
</template>

<script>
    export default {
        props: ['id', 'length', 'title','format','pubdate','types'],

        methods: {
            del() {
                this.$emit('delete', this.id);
            }
        },
    }
</script>
