<template>
<div class="column is-one-quarter">

    <div class="card">
        <div class="card-title">
            {{ title }}
        </div>
        <div class="card-content">
            <div class="form-field">
                Length
                <input v-model="length" type="text" />
            </div>
            <div class="form-field">
            Format
                <select @change="update_format">
                    <option
                    v-for="format_type in types"
                    :value="format_type"
                    :key="format_type"
                    :selected="format_type === format"
                    >{{ format_type }}</option>
                </select>
            </div>
            <div class="delete-button">
                <button @click="del">Delete</button>
            </div>
        </div>

    </div>
</div>
</template>

<script>
//    todo- check if API calls are needed here rather than the main app
    import { useRouter, useRoute } from 'vue-router'
    import { watch } from 'vue'
    export default {

        props: ['id', 'length', 'title','format','pubdate','types'],

        methods: {
            update_length(val) {
                this.$emit('update', this.id, this.title, val.target.selectedOptions[0].value, this.format);
            },
            update_format(val) {
                this.$emit('update', this.id, this.title, this.length, val.target.selectedOptions[0].value);
            },
            del() {
                this.$emit('delete', this.id);
            }
        },
    }
</script>

<style> </style>
