
.icon-ischool_wordmark:before { content: '\e800'; } /* '' */
.icon-directory:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '\e803'; } /* '' */
.icon-uw-logo:before { content: '\e804'; } /* '' */
.icon-menu-2:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e806'; } /* '' */
.icon-down-dir:before { content: '\e807'; } /* '' */
.icon-right-dir:before { content: '\e808'; } /* '' */
.icon-up-dir:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-info-circled:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-help-circled:before { content: '\e810'; } /* '' */
.icon-profile:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e812'; } /* '' */
.icon-gift:before { content: '\e813'; } /* '' */
.icon-x-2:before { content: '\e814'; } /* '' */
.icon-x:before { content: '\e815'; } /* '' */
.icon-select:before { content: '\e816'; } /* '' */
.icon-ok:before { content: '\e817'; } /* '' */
.icon-triangle-1:before { content: '\e818'; } /* '' */
.icon-award:before { content: '\e819'; } /* '' */
.icon-search-3:before { content: '\e81a'; } /* '' */
.icon-tools:before { content: '\e81b'; } /* '' */
.icon-pub-whitepaper:before { content: '\e81c'; } /* '' */
.icon-pub-video:before { content: '\e81d'; } /* '' */
.icon-pub-software:before { content: '\e81e'; } /* '' */
.icon-search-2:before { content: '\e81f'; } /* '' */
.icon-pub-newspaper:before { content: '\e820'; } /* '' */
.icon-pub-magazine:before { content: '\e821'; } /* '' */
.icon-pub-journalarticle:before { content: '\e822'; } /* '' */
.icon-pub-editorial:before { content: '\e823'; } /* '' */
.icon-pub-conference:before { content: '\e824'; } /* '' */
.icon-pub-book:before { content: '\e825'; } /* '' */
.icon-plus:before { content: '\e826'; } /* '' */
.icon-star:before { content: '\e827'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */