@font-face {
  font-family: 'fontello';
  src: url('../../fonts/fontello/fontello.eot');
  src: url('../../fonts/fontello/fontello.eot') format('embedded-opentype'),
       url('../../fonts/fontello/fontello.woff2') format('woff2'),
       url('../../fonts/fontello/fontello.woff') format('woff'),
       url('../../fonts/fontello/fontello.ttf') format('truetype'),
       url('../../fonts/fontello/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../fonts/fontello/fontello.svg?52770752#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ischool_wordmark:before { content: '\e800'; } /* '' */
.icon-directory:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '\e803'; } /* '' */
.icon-uw-logo:before { content: '\e804'; } /* '' */
.icon-menu-2:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e806'; } /* '' */
.icon-down-dir:before { content: '\e807'; } /* '' */
.icon-right-dir:before { content: '\e808'; } /* '' */
.icon-up-dir:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-info-circled:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-help-circled:before { content: '\e810'; } /* '' */
.icon-profile:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e812'; } /* '' */
.icon-gift:before { content: '\e813'; } /* '' */
.icon-x-2:before { content: '\e814'; } /* '' */
.icon-x:before { content: '\e815'; } /* '' */
.icon-select:before { content: '\e816'; } /* '' */
.icon-ok:before { content: '\e817'; } /* '' */
.icon-triangle-1:before { content: '\e818'; } /* '' */
.icon-award:before { content: '\e819'; } /* '' */
.icon-search-3:before { content: '\e81a'; } /* '' */
.icon-tools:before { content: '\e81b'; } /* '' */
.icon-pub-whitepaper:before { content: '\e81c'; } /* '' */
.icon-pub-video:before { content: '\e81d'; } /* '' */
.icon-pub-software:before { content: '\e81e'; } /* '' */
.icon-search-2:before { content: '\e81f'; } /* '' */
.icon-pub-newspaper:before { content: '\e820'; } /* '' */
.icon-pub-magazine:before { content: '\e821'; } /* '' */
.icon-pub-journalarticle:before { content: '\e822'; } /* '' */
.icon-pub-editorial:before { content: '\e823'; } /* '' */
.icon-pub-conference:before { content: '\e824'; } /* '' */
.icon-pub-book:before { content: '\e825'; } /* '' */
.icon-plus:before { content: '\e826'; } /* '' */
.icon-star:before { content: '\e827'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
